# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/

# Virtual environment
env/
venv/
ENV/
*.egg-info/

# VSCode
.vscode/

# MacOS
.DS_Store

# Environment variables
.env

# Migrations (optional)
**/migrations/*.pyc
**/migrations/__pycache__/
